* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F8F9FA;
    font-family: 'Poppins', sans-serif;
    margin: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
}

header .nav__links,
header .cta,
header .dropdown .dropdown__menu {
    list-style: none;
}

header a {
    text-decoration: none;
    color: rgba(73, 80, 87, 0.50);
}

header a:hover {
    color: #495057;
}

.nav__links li {
    display: inline-block;
    margin-right: 25px;
}

.dropdown {
    margin-right: 38px;
}


.dropdown a {
    display: block;
}

.dropdown .dropdown__menu {
    display: none;
    position: absolute;
    border-radius: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.dropdown:hover .dropdown__menu {
    display: flex;
    flex-direction: column;
    background: #212529;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: visible;
    
}

header .dropdown__menu a:hover {
    color: #F8F9FA;
}

.dropdown__menu a {
    color: rgba(248, 249, 250, 0.60);
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.dropdown:hover .dropdown__menu a {
    display: block;
}

.cta__start {
    border-radius: 20px;
    background: #DDBEA9;
    padding: 8px 16px;
    color: #F8F9FA;
    margin-left: 25px;
}

.hero {
    border-radius: 5px;
    background:
        url("/images/hero.png") center/cover no-repeat,
        lightgray 50%;
    min-height: 500px;
    width: auto;
    color: #F8F9FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-style: normal;
}

.hero__name {
    font-weight: 300;
    font-size: 12px;
    color: #E5E5E5;
    line-height: 20px;
    margin-bottom: 15px;
}

.hero__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 143px;
}

.hero__counter hr{
    width: 44.011px;
    height: 0.5px;
    justify-self: center;
}

.blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    column-gap: 30px;
    margin: 100px 206px 188px 206px;
}

.blog__text h2 {
    font-size: 25px;
    margin-bottom: 30px;
}

.blog__text>* {
    order: 1;
    display: flex;
    max-width: 393px;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
}

.blog__text>ul {
    flex-direction: column;
    list-style: none;
    
}

.blog__text li {
    padding-bottom: 10px;
}

.blog__text li::before {
    content: "+";
    color: #495057;
    padding-right: 10px;
}

.blog__search {
    margin-top: 30px;
}

.blog__search p {
    padding-left: 10px;
    color: rgba(73, 80, 87, 0.50);
}

.blog__search img{
    width: 12px;
    height: 12px;
}

.blog__cards {
    order: 2;

}
.blog__cards li{
    margin-bottom: 40px;
}

.card {
    display: flex;
    row-gap: 40px;
    column-gap: 30px;;
}

.card__content > h3, p {
    padding-bottom: 15px;
}

.card__img {
    flex-shrink: 0;

}

.card__info{
    display:flex;
    justify-content: space-between;
}

.card__info p:first-child {
    flex-grow: 1; 
    margin-right: 10px; 
}

.card__info p {
    margin: 0;
}

footer {
    background: #212529;
    color: rgba(248, 249, 250, 0.50);
    padding: 20px;
    list-style: none;
    margin-top: 108px;
}

.top {
    text-align: center;
    margin-top: 108px;
    margin-bottom: -32px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer__social {
    display: flex;
}

.footer__social li {
    margin-right: 10px;
}

footer hr {
    max-width: 1240px;
    width: 100%;
    height: 1px;
    background: rgba(229, 229, 229, 0.20);
    margin: 40px auto;
}

.bottom p {
    margin-bottom: 100px;
}